body {
    overflow-x: hidden;
}

.services-modal section {
    padding: 50px 0;
}

.img-centered {
    margin: 0 auto;
}

.services-modal .modal-content {
    padding: 100px 0 50px;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}


@media screen 
and (min-width : 320px) 
and (max-width : 767px){
	.services-modal .breadItem {
		
	}
} 

@media screen 
and (min-width : 1920px) {
	.services-modal .baguetteItem {
		height: 600px;
	}
} 


@media screen 
and (min-width : 992px)
and (max-width : 1919px) {
	.services-modal .baguetteItem {
		height: 530px;
	}
} 

@media screen 
and (min-width : 768px)
and (max-width : 991px) {
	.services-modal .baguetteItem {
		height: 560px;
	}
}

@media screen 
and (min-width : 992px) {
	.services-modal .sandwichItem {
		height: 670px;
	}
} 

@media screen 
and (min-width : 992px) {
	.services-modal .cakeItem {
		height: 740px;
	}
} 



.services-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}


.services-modal .modal-content img {
    margin-bottom: 30px;
}

.services-modal .modal-content .item-details {
    margin: 30px 0;
}

.services-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.services-modal .close-modal:hover {
    opacity: .3;
}

.services-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.services-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.services-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

.services-modal, ul li {
  font-family: "Ruda", sans-serif;
  text-align: left;
  font-size: 1.05em;
  line-height: 200%;
  list-style-image: url(../img/list-bullet.svg);
  
}

.services-modal p {
  font-family: "Ruda", sans-serif;
  text-align: left;
  font-size: 1.05em;
  hyphens: auto;
}



.services-modal ul li {
  margin-left: 35px;
  padding: 0;
}



.services-modal .label {
    position: absolute;
    bottom: 35px;
    right: 0;
    height: 32px;
    line-height: 32px;
    padding: 0 20px;
    -webkit-border-radius: 1px 0 0 1px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 1px 0 0 1px;
    -moz-background-clip: padding;
    border-radius: 1px 0 0 1px;
    background-clip: padding-box;
    font-size: 14px;
    font-size: 1.25rem;
    text-transform: uppercase;
    text-shadow: 0 1px 0px #780d33;
    background: #ee4b28;
    color: white;
}

.services-modal .img {
    display: block;
    width: 100%;
    overflow: hidden;
    
    margin: 0 0 20px;
    position: relative;
}

.services-modal .img-in-text {
    display: block;
    overflow: hidden;
    height: 140px;
    margin: 0 0 20px;
    position: relative;
}


.services-modal a.label:hover,
.services-modal a.label:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.services-modal .label:empty {
  display: none;
}
.services-modal .btn .label {
  position: relative;
  top: -1px;
}

.services-modal .label-primary {
  background-color: #6fac37;
}
.services-modal .label-primary[href]:hover,
.services-modal .label-primary[href]:focus {
  background-color: #6fac37;
}



.services-modal div.polaroid {
  width: 50%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.services-modal div.container {
  text-align: center;
  padding: 10px 20px;
}

.services-modal .service-box {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .services-modal .service-box {
        margin: 20px auto 0;
    }
}

.services-modal .service-box p {
    margin-bottom: 0;
}

.services-modal .text-small {
	font-size: 0.85em;
}
