body {
    overflow-x: hidden;
}

.services-modal section {
    padding: 50px 0;
}

.img-centered {
    margin: 0 auto;
}

.services-modal .modal-content {
    padding: 30px 0 50px;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.services-modal .modal-content .row{
	margin: 20px;
}


.services-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.services-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.services-modal .close-modal:hover {
    opacity: .3;
}

.services-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.services-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.services-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

.services-modal, ul li {
  font-family: "Ruda", sans-serif;
  text-align: left;
  font-size: 1.05em;
  line-height: 200%;
  list-style-image: url(../img/list-bullet.svg);
  
}

.services-modal p.text-center {
  font-family: "Ruda", sans-serif;
  text-align: center;
  font-size: 1.05em;
  hyphens: auto;
  
}

.services-modal p {
  font-family: "Ruda", sans-serif;
  text-align: left;
  font-size: 1.1em;
  hyphens: auto;
}



.services-modal ul li {
  margin-left: 35px;
  padding: 0;
}



.services-modal .img {
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.services-modal .img-in-text {
    display: block;
    overflow: hidden;
    height: 140px;
    position: relative;
}


.services-modal a.label:hover,
.services-modal a.label:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.services-modal .label:empty {
  display: none;
}
.services-modal .btn .label {
  position: relative;
  top: -1px;
}

.services-modal .label-primary {
  background-color: #6fac37;
}
.services-modal .label-primary[href]:hover,
.services-modal .label-primary[href]:focus {
  background-color: #6fac37;
}



.services-modal div.polaroid {
  width: 50%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.services-modal div.container {
  text-align: center;
  padding: 10px 20px;
}

.services-modal .service-box {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .services-modal .service-box {
        margin: 20px auto 0;
    }
}



.services-modal .service-box p {
    margin-bottom: 0;
}

.services-modal .text-small {
	font-size: 0.85em;
	text-align: center;
}


.catalog-item {
	border-style: solid;
	border-width: 1px;
	border-color: #ddd;
	margin-bottom: 10px;
	max-width: 1600px;
	
	display: flex;
}


.catalog-item-img {
	padding: 0;
	margin: 0;
}


.lunch-item {
	text-align: left;
}


.catalog-item-main-info {
	padding: 15px;
}

.catalog-item-weight {
	color: #ee4b28;
	
	position: absolute;
	bottom: 15px;
	right: 30px;
}

.catalog-item-name {
	text-align: center;
	font-size: 2.5em;
}


.back-to-top {
	display: none;
	position: fixed;
    bottom: 18px;
    right: 12px;
	
}

.back-to-top i{
	color: #ddd;
}

.back-to-top a {
	
    background-color: #f8f8f8;
    color: white;
    cursor: pointer;
    padding: 15px;
	
}


@media(max-width:992px) {
	.services-modal .modal-content .row{
		margin: 5px;
	}
	
	.catalog-item {
		display: block;
	}
	
	.catalog-item-weight {
		color: #ee4b28;
		text-align: left;
		position: relative;
		bottom: 15px;
		right: -10px;
	}
	
	.services-modal p {
	  font-size: 0.9em;
	}
	
	.catalog-item-name {
		font-size: 1.5em;
	}
	
	.services-modal .modal-content h2 {
		font-size: 2em;
	}
	
	.lunch-item h4{
		text-align: left;
		font-size: 1em;
	}
}

