body {
    overflow-x: hidden;
}

.aside {
    padding: 50px 0 0 0;
}

.img-centered {
    margin: 0 auto;
}

.modal-content {
    padding: 30px 0 50px;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.modal-content a {
	text-align: center;
}

.modal-content .row{
	margin: 20px;
}


.modal-content h2 {
    margin: 0;
    font-size: 3em;
}


.modal-content, ul li {
  font-family: "Ruda", sans-serif;
  text-align: left;
  font-size: 1.05em;
  line-height: 200%;
  list-style-image: url(../img/list-bullet.svg);
  
}

.modal-content p.text-center {
  font-family: "Ruda", sans-serif;
  text-align: center;
  font-size: 1.05em;
  hyphens: auto;
  
}

.modal-content p {
  font-family: "Ruda", sans-serif;
  text-align: left;
  font-size: 1.1em;
  hyphens: auto;
}



.modal-content ul li {
  margin-left: 35px;
  padding: 0;
}



.modal-content .img {
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.modal-content .img-in-text {
    display: block;
    overflow: hidden;
    height: 140px;
    position: relative;
}



.modal-content .text-small {
	font-size: 0.85em;
	text-align: center;
}


.catalog-item {
	border-style: solid;
	border-width: 1px;
	border-color: #ddd;
	margin-bottom: 10px;
	max-width: 1600px;
	
	display: flex;
}


.catalog-item-img {
	padding: 0;
	margin: 0;
}


.lunch-item {
	text-align: left;
	font-size: 1.1em;
}


.catalog-item-main-info {
	padding: 15px;
}

.catalog-item-weight {
	color: #ee4b28;
	
	position: absolute;
	bottom: 15px;
	right: 30px;
}

.catalog-item-name {
	text-align: center;
	font-size: 2.5em;
}

.catalog-item-itemSubTitle {
	text-align: center;
}

.catalog-footer{
	text-align: center;
}


.back-to-top {
	display: none;
	position: fixed;
    bottom: 18px;
    right: 12px;
	
}

.back-to-top i{
	color: #ddd;
}

.back-to-top a {
	
    background-color: #f8f8f8;
    color: white;
    cursor: pointer;
    padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 13px;
	padding-top: 13px;
	
}


@media(max-width:992px) {
	.modal-content .row{
		margin: 5px;
	}
	
	.catalog-item {
		display: block;
	}
	
	.catalog-item-weight {
		color: #ee4b28;
		text-align: left;
		position: relative;
		bottom: 15px;
		right: -10px;
	}
	
	.modal-content p {
	  font-size: 1em;
	}
	
	.catalog-item-name {
		font-size: 1.5em;
	}
	
	.modal-content h2 {
		font-size: 2em;
	}
	
	.lunch-item p{
		text-align: left;
		font-size: 1em;
	}
}

