<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top" itemscope itemtype="https://schema.org/Organization">
		
		{{ partial "nav.html" . }}

		{{ "<!-- Production page -->" | safeHTML }}
		{{ $baseUrl := .Site.BaseURL }}
		{{ $siteRute := .Site}}
		<div class="aside">
			<div class="nav-stripe"></div>
			<div class="content">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 text-center">
						<h1>{{ .Title }}</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-10 col-lg-offset-1 text-center">
						<h3 class="text-center">{{ .Description  | markdownify  }}</h3>
						<h4>Подробнее по телефону: <strong><a class="contact-tel" title="{{ .Site.Params.contact.phoneTitle}}" href="tel:{{ .Site.Params.contact.phone2 }}">{{ .Site.Params.contact.phoneDescription2 }}</a></strong> </h4>
						<p class="text-center">{{ .Params.subdescription1  | markdownify}}</p>
					</div>
				</div>
				<div class="row">
					{{ range .Params.category }}
						<div class="row top-padding" id="{{.categoryId}}">
							<div class="col-lg-10 col-lg-offset-1 text-center" >
								<h2 class="text-primary">{{ .categoryTitle }}</h2>
							</div>
						</div>
						
						<div class="row">
							<div class="row">
							{{range .items}}
								<div itemscope itemtype="https://schema.org/Product" class="row catalog-item" >
									<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 catalog-item-img">
										<div class="img">
											<img itemprop="image" {{ printf "src='%s%s'" $baseUrl .itemImg | safeHTMLAttr }} class="img-responsive" alt="{{ .itemImgAlt}}" title="{{ .itemImgAlt}}">
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
										<div class="catalog-item-main-info">
											<h3 itemprop="name" class="catalog-item-name">{{ .itemTitle }}</h3>
											{{if .itemSubTitle}}
												<h5 class="text-muted-italic catalog-item-subTitle">{{ .itemSubTitle }}</h5>
											{{end}}
											<hr class="gray">
											{{if .itemIngredients}}
												<h4 itemprop="description" class="text-muted ingredients">{{.itemIngredients | markdownify}}</h4>
											{{end}}
											{{if eq .itemType "cake"}}
												<p class="text-muted ingredients"><strong>Вес торта {{.itemWeight}}г. </strong> <br> Торт продаётся разрезанным на 12 порций.</p>
											{{end}}
										
											<select class="form-control input-lg temperatureState-input" style="display:{{ if not .itemFrozenID }}none{{end}}">
												<option value="{{.itemCooledID}}">охлаждённый</option>
												<option value="{{.itemFrozenID}}">замороженный</option>
											</select>
											
											{{if .itemPrice}}
												<p class="text-primary text-small-left"><strong>*Внимание!</strong> Указаны ОПТОВЫЕ / МЕЛКООПТОВЫЕ цены (заказ от {{$siteRute.Params.wholesalePriceThreshold}}руб).</p>
											{{end}}
											
										</div>
										<div itemprop="offers" itemscope itemtype="http://schema.org/AggregateOffer" class="weight-price-section">
											{{if eq .itemType "cake"}}	
												<h3 class="catalog-item-weight text-muted">За 1кг:</h3>
											{{end}}
											{{if .itemWeight}}
												{{if ne .itemType "cake"}}	
													<h3 class="catalog-item-weight text-muted">{{.itemWeight}}г</h3>
												{{end}}
											{{end}}
											
											{{if .itemPrice}}
												<div class="catalog-item-price">
													<h3 itemprop="price lowPrice highPrice" content="{{.itemPrice}}" class="">{{ lang.NumFmt 2 .itemPrice }}р*</h3>
													<button class="btn btn-primary btn-add-to-cart" title="Добавить в корзину" 
														onclick="cart.addItem({ 
															imageUrl: '{{.itemImg | absURL}}', 
															title: '{{.itemTitle}}', 
															temperatureState: this.closest('.catalog-item').querySelector('select').selectedOptions[0].text, 
															price: {{.itemPrice}},
															weight: {{.itemWeight}},
															type: '{{.itemType}}',
															id: this.closest('.catalog-item').querySelector('select').value ,
															isWholesaleItem: true
															})">
														<i class="fa fa-cart-arrow-down fa-2x"></i>
													</button>
												</div>
											{{end}}
											<meta itemprop="priceCurrency" content="BYN" />
											<meta itemprop="availability" content="InStock " />
										</div>
										<div itemprop="brand" itemtype="http://schema.org/Thing" itemscope>
										  <meta itemprop="name" content="ХаусФреш" />
										</div>
										<meta itemprop="sku ID" content="{{.itemCooledID}}" />
									</div>
								</div>
							{{end}}
							</div>
							{{ if .issueDate }}
								<p class="text-muted text-small-center">{{ .issueDate | markdownify}}</p>
							{{ end }}
						</div>
					{{ end }}
					
					
					
					<div class="row top-padding" id="lunch">
						<div class="col-lg-10 col-lg-offset-1 text-center" >
							<h2 class="text-primary">Комплексные обеды оптом</h2>
						</div>
					</div>
					<div class="row">
						<div class="row">
							<div class="row catalog-item" >
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 catalog-item-img">
									<div class="img">
										<img src="/img/catalog/lunch/комплексный-обед-5.jpg" class="img-responsive" alt="Комплексные обеды оптом | ХаусФреш" title="Комплексные обеды оптом | ХаусФреш">
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
									<div class="catalog-item-main-info">
										<h3 class="catalog-item-name">Готовые горячие или замороженные обеды оптом</h3>
										
										<hr class="gray">
										<h4 class="text-muted ingredients">
											<ul> 
												<li>Большой выбор блюд: Супы, Салаты, Горячие блюда, Гарниры, Соусы, Хлеб, Напитки, Выпечка. Возможно составление индивидуального меню. </li> 
												<li> Упаковка в порционные контейнеры или в тару заказчика. </li> 
												<li> Организация питания на выездных мероприятиях, а также сотрудников на предприятии или в офисе.</li> 
												<li> Доставка по Минску или самовывоз.</li>
											</ul> 
											<br> 
											<h4>Свяжитесь с нами по телефону <strong><a class="contact-tel" title="Позвонить в отдел оптовых продаж готовой продукции ХаусФреш" href="tel:+375445148090">+375 44 514 80 90</a></strong> </h4>
										</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			
			<div class="bg-light-gray" id="on-order">
			<div class="content">
				<div class="row top-padding">
					<on-order-form email="{{.Site.Params.contact.orderEmail}}"></on-order-form>
				</div>
			</div>
			</div>
			
			<div class="back-to-top" id="back-to-top-btn">
				<a href="#page-top" class="page-scroll" title="Вернуться к началу страницы">
					<i class="fa fa-chevron-up fa-1x"></i>
				</a>
			</div>
		</div>

		{{partial "footer.html" .}}
		
        <script src="{{ "js/bundle.js" | absURL }}"></script>

        {{ template "_internal/google_analytics.html" . }}
    </body>
</html>