{{ "<!-- HEADER -->" | safeHTML }}
<header>
    <div class="header-content">
        <div itemscope itemtype="https://schema.org/Organization" class="header-content-inner">
			<div class="row">
				{{ with .Site.Params.hero.companyIcon }}
					<img src="{{ . }}" itemprop="logo" class="img-responsive img-centered" alt="ХаусФреш логотип">
				{{ end }}

				{{ with .Site.Params.hero.slogan }}
					<h1 itemprop="brand" >{{ . }}</h1>
				{{ end }}
				{{ with .Site.Params.hero.sloganDescription }}
					<h2 > {{ . | markdownify  }}</h2>
				{{ end }}
			</div>
            
            {{ if and .Site.Params.hero.slogan .Site.Params.hero.subtitle }}
                <hr>
            {{ end }}
            {{ with .Site.Params.hero.subtitle }}
                <p itemprop="description">{{ . | markdownify }}</p>
            {{ end }}
            {{ if and .Site.Params.hero.buttonText .Site.Params.hero.buttonTitle }}
                <a href="{{.Site.Params.hero.ButtonUrl | absURL}}" class="btn btn-primary btn-xl page-scroll" title="{{.Site.Params.hero.buttonTitle}}">{{ .Site.Params.hero.buttonText }}</a>
            {{ end }}
        </div>
    </div>
</header>
