{{ "<!-- HEADER -->" | safeHTML }}
<header>
    <div class="header-content">
        <div class="header-content-inner">
			<div class="row">
				{{ with .Site.Params.hero.companyIcon }}
					<img src="{{ . }}" class="img-responsive img-centered" alt="ХаусФреш логотип">
				{{ end }}

				{{ with .Site.Params.hero.slogan }}
					<h1>{{ . }}</h1>
				{{ end }}
				{{ with .Site.Params.hero.sloganDescription }}
					<h2>{{ . | markdownify  }}</h2>
				{{ end }}
			</div>
            
            {{ if and .Site.Params.hero.slogan .Site.Params.hero.subtitle }}
                <hr>
            {{ end }}
            {{ with .Site.Params.hero.subtitle }}
                <p>{{ . | markdownify }}</p>
            {{ end }}
            {{ with .Site.Params.hero.buttonText }}
                <a href="#services" class="btn btn-primary btn-xl page-scroll" title="услуги ХаусФреш">{{ . }}</a>
            {{ end }}
        </div>
    </div>
</header>
