{{ "<!-- services -->" | safeHTML }}

<section id="services" class="no-bottom-padding">
    <div class="container-fluid">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				{{ with .Site.Params.services.headline }}
					<h2 class="section-heading">{{ . }}</h2>
				{{ end }}
				{{ if .Site.Params.services.headline }}
					<hr class="primary">
				{{ end }}
				{{ with .Site.Params.services.description }}
					<p>{{ . | markdownify }}</p>
				{{ end }}
			</div>
		</div>
		<div class="row no-gutter">
		  {{ range .Site.Params.ServiceTiles.showcase }}
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 services-item">
			  <a href="{{ .url | absURL }}" class="services-link" title="{{ .atitle}}">
				<div class="services-hover">
				  <div class="services-hover-content">
					<span class="more">{{.title}}</span>
				  </div>
				</div>
				<img src="{{ .Site.Params.baseURL }}img/{{ .image }}" class="img-responsive img-centered" alt="{{ .alt}}" />
			  </a>
			</div>
		  {{ end }}
		</div>
    </div>
</section>

