<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
        {{ if or .Site.Params.navigation.links.about .Site.Params.navigation.links.catalog .Site.Params.navigation.links.partners .Site.Params.navigation.links.contact }}
            {{ partial "nav.html" . }}
        {{ end }}
		
		{{partial "servicesContentMain.html" .}}
		
		{{ partial "footer.html" . }}

        {{ partial "js.html" . }}

        {{ template "_internal/google_analytics.html" . }}
    </body>
</html>
