{{ "<!-- Service page -->" | safeHTML }}
<aside class="bg-bread-dark-small catalog-modal">
	<div class="catalog-modal">
		<div class="modal-content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 text-center text-dark">
						{{ with .Title }}
							<h2>{{ . }}</h2>
						{{ end }}
						{{ if .Title }}
							<hr class="star-primary">
						{{ end }}
					</div>
				</div>
				<div class="row">
					<div class="col-lg-10 col-lg-offset-1 text-center text-dark">
						{{ if .Description }}
							<p>{{ .Description }}</p>
							<p class="text-muted"><strong>{{.Params.subdescription}}</strong></p>
							<hr class="star-primary">
						{{ end }}
					</div>
				</div>
				<div class="row">
					<div class="col-lg-10 col-lg-offset-1 text-center">
						{{ range .Params.category }}
							<div class="row" >
								<div class="col-lg-10 col-lg-offset-1 text-center text-dark">
									{{ with .categoryTitle }}
										<h3 class="text-muted"><strong>{{ . }}</strong></h3>
									{{ end }}
									{{ if .issueDate }}
										{{ with $.Site.Params.ServiceTiles.issueDate }}{{.}}: {{ end }}
										<strong>{{ .issueDate }}</strong>
									{{ end }}
								</div>
							</div>
							<div class="row bottom-padding">
							{{ $save := . }}
								{{range .items}}
									<div class="{{ $save.class }}">
										<h3 class="itemName text-primary">{{ .itemTitle }}</h3>
										<img src="/img/before-product-description-img.svg" class="img-responsive img-centered" alt="">
										<div class="img">
											{{if .itemImg}}<img src="/img/{{ .itemImg }}" class="img-responsive img-centered" alt="">{{end}}
											{{ with .itemWeight }}
												<span class="label">{{ . }}</span>
											{{ end }}
										</div>
										<img src="/img/after-product-description-img.svg" class="img-responsive img-centered" alt="">
										{{ with .itemIngredients }}
											<p>{{ . }}</p>
										{{ end }}
									</div>
								{{end}}
							</div>
							<hr class="star-primary">
						{{ end }}
					</div>
					
					
				</div>
				
				<div class="row">
					<div class="col-lg-12">
						{{.Content}}
					</div>
				</div>
				
				<div class="row col-lg-8 col-lg-offset-2">
					{{ if and .Params.downloadButton .Site.Params.catalog.downloadButton.link .Site.Params.catalog.downloadButton.text }}
						<p class="text-muted text-small"><strong>*Просим обратить внимание!</strong> Изображение продукции на сайте носит иллюстративный характер и может отличаться от реального.</p>
						<a href="{{ .Site.Params.catalog.downloadButton.link }}" download class="btn btn-primary btn-xl wow tada">{{ .Site.Params.catalog.downloadButton.text }}</a>
					{{ end }}
					{{ if and .Params.contactButton .Site.Params.catalog.contactButton.link .Site.Params.catalog.contactButton.text }}
						<a href="{{ .Site.Params.catalog.contactButton.link }}" class="btn btn-primary btn-xl wow tada">{{ .Site.Params.catalog.contactButton.text }}</a>
					{{ end }}
				</div>
			</div>
		</div>
	</div>
</aside>




