{{ "<!-- ABOUT -->" | safeHTML }}
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
				<h2 class="section-heading">{{ .Site.Params.about.headline }}</h2>
				<hr class="light">
				<p>{{ .Site.Params.about.description | markdownify }}</p>
				<hr class="light">
				<p>{{ .Site.Params.about.subdescription | markdownify }}</p>
				<a href="{{.Site.Params.about.buttonLink}}" title="{{.Site.Params.about.buttonTitle}}" class="btn btn-gray btn-xl page-scroll">{{ .Site.Params.about.buttonText }}</a>
            </div>
        </div>
    </div>
</section>
