{{ "<!-- Delivery page -->" | safeHTML }}
<div class="aside">
	<div class="nav-stripe"></div>
	<div class="content">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				{{ with .Title }}
					<h1>{{ . }}</h1>
				{{ end }}
				{{ with .Params.subtitle }}
					<h3>{{ . }}</h3>
				{{ end }}
			</div>
		</div>
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1 text-center">
				{{ if .Description}}
					<h3 class="text-center">{{ .Description  | markdownify  }}</h3>
					<h3 class="text-center">{{ .Params.subdescription1  | markdownify }}</h3>
					<h3 class="text-center">{{ .Params.subdescription2  | markdownify }}</h3>
					<p class="text-center">{{ .Params.subdescription3  | markdownify}}</p>
				{{ end }}
			</div>
		</div>
		
		<div class="row col-lg-12">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 text-center text-primary">
					<h2 class="deliverySection">Доставка обедов</h2>
				</div>
			</div>
			<div class="row">
				<h4 class="delivery-description">
					Доставка <strong> <a href="/lunch/" title="Меню на неделю: цены, описание"> ОБЕДОВ </a> </strong> по Минску осуществляется <b> с 12.00 до 15.00 </b> только в рабочие дни. Заказ должен быть оформлен через корзину сайта или по указанным в контактах телефонам до 11.00 текущего дня.
					<br>
					<strong>Бесплатная доставка</strong> при сумме заказа <b>от 80 рублей</b>. 
					<br>
					<strong>Платная доставка</strong> (5-10 рублей в зависимости от маршрута) при сумме заказа <b>менее 80 рублей</b>.
					<br>
					<br>
					Самовывоз возможен при оформлении заказа на любую сумму. Свяжитесь с нами для получения более подробной информации.
				</h4>
				<br>
			</div>
				
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 text-center text-primary">
					<h2 class="deliverySection">Доставка продукции</h2>
				</div>
			</div>
			<div class="row">
				<h4 class="delivery-description">
					<strong> Оптовые поставки <a href="/production/" title="Сэндвичи, булочки, чиабатта, салаты, выпечка, торты, комплексные обеды: цены, описание"> ПРОДУКЦИИ </a> </strong> по Минску и Беларуси выполняются на индивидуальных условиях. Свяжитесь с нами по указанным телефонам, чтобы узнать подробную информацию.
				</h4>
				<br>
			</div>
			<br>
		</div>
		
	</div>
	
	<div class="back-to-top" id="back-to-top-btn">
		<a href="#page-top" class="page-scroll">
			<i class="fa fa-chevron-up fa-1x"></i>
		</a>
	</div>
	
</div>






