{{ "<!-- FOOTER -->" | safeHTML }}
<footer class="bg-dark" id="footer">
    <div class="row contact-info-block">
		<div class="row col-md-7">
			<div class="text-center contact-info-block-section">
				<h5 class="contact-header">Телефоны</h5>
				<p><a class="contact-tel" title="{{ .Site.Params.contact.phoneTitle}}" href="tel:{{ .Site.Params.contact.phone }}">{{ .Site.Params.contact.phoneDescription }}</a></p>
				<p><a class="contact-tel" title="{{ .Site.Params.contact.phoneTitle}}" href="tel:{{ .Site.Params.contact.phone2 }}">{{ .Site.Params.contact.phoneDescription2 }}</a></p>
			</div>
			
			<div class="text-center contact-info-block-section">
				<h5 class="contact-header">Адрес</h5>
				<a class="contact-address" title="{{ .Site.Params.contact.addressTitle}}" href="https://goo.gl/maps/uW3GdrgG7d52" target="_blank">{{ .Site.Params.contact.address }}</a>
			</div>
		</div>
		<div class="row col-md-5">
			<div class="text-center contact-info-block-section">
				<h5 class="contact-header">Заказать обратный звонок</h5>
				<form class="form-block-footer">
					<div class="user-info-input">
						<input type="text" class="form-control form-control-footer text-center" placeholder="Ваше имя">
						<input type="text" class="form-control form-control-footer text-center" placeholder="Контактный телефон*">
					</div>
					<button class="btn btn-gray btn-xl" title="Отправить запрос на обратный звонок">Отправить запрос</button>
				</form>
			</div>
		</div>
	</div>
	
	<div class="row copyright-block">
		<div class="text-center">
			<p class="copyright">{{ with .Site.Params.contact.copyrightMain }}{{ . | markdownify }}{{ end }}</p>
			<p class="copyright">{{ with .Site.Params.contact.copyrightDescription }}{{ . | markdownify }}{{ end }}</p>
		</div>
	</div>
</footer>
