{{ "<!-- FOOTER -->" | safeHTML }}
<footer class="bg-dark" id="footer">
    <div class="row contact-info-block">
		<div class="row col-md-7">
			<div class="text-center contact-info-block-section">
				<h5 class="contact-header">Телефоны</h5>
				<p><a class="contact-tel" title="{{ .Site.Params.contact.phoneTitle}}" href="tel:{{ .Site.Params.contact.phone }}">{{ .Site.Params.contact.phoneDescription }}</a></p>
				<p><a class="contact-tel" title="{{ .Site.Params.contact.phoneTitle}}" href="tel:{{ .Site.Params.contact.phone2 }}">{{ .Site.Params.contact.phoneDescription2 }}</a></p>
			</div>
			
			<div class="text-center contact-info-block-section">
				<h5 class="contact-header">Адрес</h5>
				<a class="contact-address" title="{{ .Site.Params.contact.addressTitle}}" href="https://goo.gl/maps/uW3GdrgG7d52" target="_blank" rel="noreferrer">{{ .Site.Params.contact.address }}</a>
			</div>
			
			<div class="text-center contact-info-block-section">
				<h5 class="contact-header">Режим работы</h5>
				<p class="contact-address">{{ .Site.Params.contact.workingHours}}</p>
			</div>
			
		</div>
		<div class="row col-md-5">
			<call-back-form email="{{.Site.Params.contact.orderEmail}}"></call-back-form>
			<div class="text-center">
				<h5 class="contact-header">Мы в социальных сетях</h5>
				<a class="social" href="https://www.facebook.com/HouseFreshMinsk/" target="_blank" rel="noreferrer" title="Перейти на страницу facebook ХаусФреш"><i class="fa fa-facebook-square fa-3x"></i></a>
			</div>
		</div>
	</div>
	
	<div class="row copyright-block">
		<div class="text-center">
			<p class="copyright">{{ .Site.Params.contact.copyrightMain | markdownify }}</p>
			<p class="copyright">{{ .Site.Params.contact.copyrightDescription | markdownify }}</p>
		</div>
	</div>
</footer>
