{{ "<!-- HEADER -->" | safeHTML }}
<header>
    <div class="header-content">
        <div itemscope itemtype="https://schema.org/Organization" class="header-content-inner">
			<div class="row">
				<a itemprop="url" href="/"><img src="{{ .Site.Params.hero.companyIcon }}" itemprop="logo" class="img-responsive img-centered" alt="ХаусФреш логотип"></a>
				<h1 itemprop="brand" >{{ .Site.Params.hero.slogan }}</h1>
			</div>
			<hr>
			<p itemprop="description">{{ .Site.Params.hero.subtitle | markdownify }}</p>
			<a href="{{.Site.Params.navigation.links.catalogUrl | absURL}}" class="btn btn-primary btn-xl page-scroll" title="{{.Site.Params.hero.buttonTitle}}">{{ .Site.Params.hero.buttonText }}</a>
        </div>
    </div>
</header>
