{{ "<!-- Lunch page -->" | safeHTML }}
<div class="aside">
	<div class="nav-stripe"></div>
	<div class="content">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				{{ with .Title }}
					<h1>{{ . }}</h1>
				{{ end }}
				{{ with .Params.subtitle }}
					<h3>{{ . }}</h3>
				{{ end }}
			</div>
		</div>
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1 text-center">
				{{ if .Description}}
					<h3 class="text-center">{{ .Description  | markdownify  }}</h3>
					<h3 class="text-center">{{ .Params.subdescription1  | markdownify }}</h3>
					<h3 class="text-center">{{ .Params.subdescription2  | markdownify }}</h3>
					<p class="text-center">{{ .Params.subdescription3  | markdownify}}</p>
				{{ end }}
			</div>
		</div>
		<div class="row">
			{{ range .Params.daysOfWeek }}
				<div class="dayOfWeek-block">
					<div class="row" >
						<div class="col-lg-10 col-lg-offset-1 text-center">
							<h2 class="text-primary">{{ .dayTitle }}</h2>
							<h4>{{.date}}</h4>
						</div>
					</div>
					<div class="row bottom-padding">
						<div class="row">
						{{range .categories}}
							<div class="row catalog-item" >
								<div class="col-md-3">
									<h3 class="catalog-item-name">{{ .categoryTitle }}</h3>
									<hr class="gray">
								</div>
								
								<div class="col-md-9">
								{{range .menuItems}}
									<div class="row lunch-item">
										<div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">
											<p class="text-muted text-nomargin">{{.menuItemTitle}}</p>
											<p class="text-muted-italic text-small-left">{{.menuItemIngredients}}</p>
										</div>
										<div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
											<h3 class="text-muted menu-item-weight">{{.menuItemWeight}}г</h3>
											<div class="menu-item-price-section">
												<h3 class="menu-item-price">{{.menuItemPrice}}р</h3>
											</div>
										</div>
									</div>
								{{end}}
								</div>
							</div>
						{{end}}
						</div>
						
						<div class="row text-center">
							<button class="btn btn-primary btn-xl" title="Добавить в корзину"
								onclick="cart.addItem({ 
									title: 'Свой обед', 
									price: {{.menuItemPrice}},
									id: '{{.menuItemID}}'
									})"
								>
								Добавить обед в корзину
							</button>
						</div>
					</div>
				</div>
			{{ end }}
		</div>
		
		<div class="catalog-footer">
			<a href="{{ .Site.Params.services.contactButton.link }}" class="btn btn-primary btn-xl" title="контактная информация ХаусФреш">{{ .Site.Params.services.contactButton.text }}</a>
		</div>
	</div>
	
	<div class="back-to-top" id="back-to-top-btn">
		<a href="#page-top" class="page-scroll">
			<i class="fa fa-chevron-up fa-1x"></i>
		</a>
	</div>
	
</div>






