{{ "<!-- Lunch page -->" | safeHTML }}
<div class="aside">
	<div class="nav-stripe"></div>
	<div class="content">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				{{ with .Title }}
					<h1>{{ . }}</h1>
				{{ end }}
				{{ with .Params.subtitle }}
					<h3>{{ . }}</h3>
				{{ end }}
			</div>
		</div>
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1 text-center">
				{{ if .Description}}
					<h3 class="text-center">{{ .Description  | markdownify  }}</h3>
					<p class="text-center">{{ .Params.subdescription  | markdownify}}</p>
				{{ end }}
			</div>
		</div>
		<div class="row">
			{{ range .Params.weekMenu }}
				<custom-lunch :day-menu="{ 
					weekDay: '{{.weekDay}}', 
					day: '{{.day}}', 
					imageUrl: '{{ "img/catalog/lunch/комплексный-обед-4.jpg" | absURL}}',
					validFromOrderDate: new Date('{{.validFromOrderDate}}'), 
					validToOrderDate: new Date('{{.validToOrderDate}}'), 
					courses: {{.courses | jsonify}}
					}" 
					v-if="new Date().isBetween(new Date('{{.validFromOrderDate}}'), new Date('{{.validToOrderDate}}')) ">
				</custom-lunch>
			{{ end }}
		</div>
	</div>
	
	<div class="back-to-top" id="back-to-top-btn">
		<a href="#page-top" class="page-scroll">
			<i class="fa fa-chevron-up fa-1x"></i>
		</a>
	</div>
</div>