{{ "<!-- NAVIGATION -->" | safeHTML }}
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
		{{ "<!-- Brand and toggle get grouped for better mobile display -->" | safeHTML }}
        <div class="navbar-header">
			<cart email="{{.Site.Params.contact.orderEmail}}" :free-delivery-cost="{{.Site.Params.freeDeliveryCost}}"></cart>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
			{{ if and .Site.Params.navigation.brand .Site.Params.navigation.title}}
                <a itemprop="brand name url" class="navbar-brand" href="/#page-top" title="{{ .Site.Params.navigation.title}}">{{ .Site.Params.navigation.brand | markdownify }}</a>
            {{ end }}
        </div>
		{{ "<!-- Collect the nav links, forms, and other content for toggling -->" | safeHTML }}
        
		
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right" >
                {{ if .Site.Params.navigation.links.catalog }}
                    <li>
						<a title="{{.Site.Params.navigation.links.catalogTitle}}" href="{{.Site.Params.navigation.links.catalogUrl}}">{{ .Site.Params.navigation.links.catalog }}</a>
					</li>
					<li class="dropdown">
						<a  title="Выбрать категорию продукции" class="dropdown-toggle product-category-selector" data-toggle="dropdown"><span class="caret"></span></a>
						<ul class="dropdown-menu">
						  <li><a href="/production/#sandwich">Сэндвичи</a></li>
						  <li><a href="/production/#fr-baguette">Мини багеты</a></li>
						  <li><a href="/production/#bread">Хлеб</a></li>
						  <li><a href="/production/#cake">Торты и выпечка</a></li>
						  <li><a href="/production/#salads">Салаты</a></li>
						</ul>
					</li>
                {{ end }}
				
				{{ if .Site.Params.navigation.links.lunch }}
                    <li>
                        <a  href="{{.Site.Params.navigation.links.lunchUrl}}" title="{{.Site.Params.navigation.links.lunchTitle}}">{{ .Site.Params.navigation.links.lunch }}</a>
                    </li>
                {{ end }}
				{{ if .Site.Params.navigation.links.delivery }}
					<li>
						<a href="{{.Site.Params.navigation.links.deliveryUrl}}" title="{{.Site.Params.navigation.links.deliveryTitle}}">{{ .Site.Params.navigation.links.delivery }}</a>
					</li>
                {{ end }}
                {{ if and .Site.Params.contact .Site.Params.navigation.links.contact }}
                    <li>
                        <a href="{{.Site.Params.navigation.links.contactUrl}}" title="{{.Site.Params.navigation.links.contactTitle}}">{{ .Site.Params.navigation.links.contact }}</a>
                    </li>
                {{ end }}
            </ul>
        </div>
		
		{{ "<!-- /.navbar-collapse -->" | safeHTML }}
    </div>
	{{ "<!-- /.container-fluid -->" | safeHTML }}
</nav>
