<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
		{{ partial "nav.html" . }}
		{{ partial "hero.html" . }}
		{{ partial "about.html" . }}
		{{ partial "services.html" . }}
		{{ partial "partners.html" . }}
		{{ partial "footer.html" . }}
		
        <script src="{{ "js/bundle.js" | absURL }}"></script>

        {{ template "_internal/google_analytics.html" . }}
		<script>
		  if (window.netlifyIdentity) {
			window.netlifyIdentity.on("init", user => {
			  if (!user) {
				window.netlifyIdentity.on("login", () => {
				  document.location.href = "/admin/";
				});
			  }
			});
		  }
		</script>
    </body>
</html>
