<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
        {{ if or .Site.Params.navigation.links.about .Site.Params.navigation.links.services .Site.Params.navigation.links.partners .Site.Params.navigation.links.contact }}
            {{ partial "nav.html" . }}
        {{ end }}

        {{ if .Site.Params.hero }}
            {{ partial "hero.html" . }}
        {{ end }}

        {{ if .Site.Params.about }}
            {{ partial "about.html" . }}
        {{ end }}

		{{ partial "services.html" . }}

		
		{{ if .Site.Params.partners }}
            {{ partial "partners.html" . }}
        {{ end }}

		
		{{ partial "footer.html" . }}
		
        <script src="{{ "js/bundle.js" | absURL }}"></script>

        {{ template "_internal/google_analytics.html" . }}
		<script>
		  if (window.netlifyIdentity) {
			window.netlifyIdentity.on("init", user => {
			  if (!user) {
				window.netlifyIdentity.on("login", () => {
				  document.location.href = "/admin/";
				});
			  }
			});
		  }
		</script>
    </body>
</html>
