.btn-add-to-cart {
    width: 50px;
    height: 50px;
    padding: 10px 0px;
    border-radius: 50%;
}

.btn-open-cart:focus, 
.btn-open-cart:active {
   outline: none !important;
}


.btn-open-cart i{
	margin: auto;
    margin-top: -8px;
}


body {
    overflow-x: hidden;
}

.img-centered {
    margin: 0 auto;
}

.cart-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.cart-modal .modal-content .row{
	margin: 10px 10px 20px 10px;
}

.cart-modal .modal-content .row .total-price-block {
		margin: 15px 5px 50px 60px;
	}

.cart-modal .modal-content h3 {
    margin: 0;
    font-size: 3em;
}

.cart-modal .modal-content h2 {
    margin: 0;
    font-size: 4em;
}


.cart-modal .modal-content img {
    margin-bottom: 30px;
}

.cart-modal .modal-content .item-details {
    margin: 30px 0;
}

.cart-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.cart-modal .close-modal:hover {
    opacity: .3;
}

.cart-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cart-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.cart-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

.form-control:focus {
  border-color: #6fac37;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(111, 172, 55, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(111, 172, 55, .6);
}

.user-info-input {
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 50px;
	margin-right: 50px;
}

.cart-items-count{
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 24px;
    max-width: 34px;
    height: 24px;
    padding: 4px;
    background-color: #ff0605;
    background-clip: padding-box;
    border: 3px solid #fff;
    border-radius: 100px;
    top: -8px;
    right: -3px;
    position: absolute;
    font-size: 10px;
    font-weight: 600;
    line-height: 1;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    pointer-events: none;
	
}

.item-img-in-cart {
	max-height: 100px;
}

.item-in-cart {
	display: flex;
	align-items: center;
}

.item-main-info {
	display: flex;
	align-items: center;
}

.item-count-info{
	display: flex;
	align-items: center;
}

.cart-item-price {
	color: #ee4b28;
	font-size: 20px;
	float: right;
}


.total-price-text{
	font-size: 20px;
	float: left;
	margin-right: 15px;
}

.total-price {
	color: #ee4b28;
	font-size: 20px;
}

hr.cart-items-separator {
	border-color: #ddd;
    border-width: 1px;
    max-width: 600px;
}


.navbar-default .navbar-cart >a,
.navbar-default .navbar-cart>a:focus {
	color: hsla(0,0%,100%,.9);
}

.navbar-default .navbar-cart >a:hover,
.navbar-default .navbar-cart>a:focus:hover {
	color: #fff;
}


@media(min-width:768px) {
	
    .navbar-default.affix .navbar-cart >a,
    .navbar-default.affix .navbar-cart>a:focus {
        color: #222;
		font-weight: 700;
    }

    .navbar-default.affix .navbar-cart >a:hover,
    .navbar-default.affix .navbar-cart>a:focus:hover {
        color: #6fac37;
    }
}

@media(max-width:767px) {
	
	.navbar-default .navbar-cart >a,
	.navbar-default .navbar-cart>a:focus {
		color: #222;
	}

	.navbar-default .navbar-cart >a:hover,
	.navbar-default .navbar-cart>a:focus:hover {
		color: #6fac37;
	}
	
	
	
    
}


@media(max-width:992px) {
	.cart-modal .modal-content .row {
		margin: 30px 5px 20px 5px;
	}
	
	.cart-modal .modal-content .row .separator {
		margin: 5px 45px;
	}
	
	.cart-modal .modal-content .row .total-price-block {
		margin: 15px 5px 35px 10px;
	}
	
	
	.cart-modal .modal-content h3 {
		margin: 0;
		font-size: 2em;
	}
	
	.cart-modal .modal-content h2 {
		margin: 0;
		font-size: 35px;
	}
	
	.user-info-input {
		margin-left: 15px;
		margin-right: 15px;
	}
	
	.navbar-cart a{
		color: #6fac37;
	}
   
    .cart-item-text {
		font-size: 17px;
	}
	
	
	.item-in-cart i{
		font-size: 15px;
	}
	
	.item-in-cart {
		margin-bottom: 20px;
		margin-top: 20px;
	}
	
	.item-in-cart {
		display: block;
	}
	
	.items-in-cart-block .input-number {
		font-size: 15px;
		height: 35px;
	}
	
	.item-in-cart .text-muted-italic{
		font-size: 13px;
	}
	
}


