body {
    overflow-x: hidden;
}

.aside {
    padding: 50px 0 0 0;
}

.nav-stripe {
	background-color: #222;
	margin-top: -50px;
	padding: 50px 0 0 0;
}

.product-category-selector {
	cursor: pointer;
}

.content {
	padding: 30px 0 50px;
    min-height: 100%;
    text-align: center;
}

.content a {
	text-align: center;
}

.content .row{
	margin: 20px;
}

.content .row .total-price-block {
	margin: -55px 5px 50px 60px;
}

.content .row .total-price-text {
	font-size: 24px;
	float: left;
	margin-right: 15px;
}

.content .row .total-price {
	color: #ee4b28;
	font-size: 24px;
	float: left;
}

.content h2 {
    margin: 0;
    font-size: 3em;
}

.content .deliverySection {
	margin-bottom: 20px;
}

.content, ul li {
  font-family: "Ruda", sans-serif;
  text-align: left;
  font-size: 1.05em;
  line-height: 200%;
}

.content p.text-center {
  font-family: Open Sans,Helvetica Neue,Arial,sans-serif;
  text-align: center;
  font-size: 1.05em;
  hyphens: auto;
}

.content p {
  font-family: Open Sans,Helvetica Neue,Arial,sans-serif;
  text-align: left;
  font-size: 1.1em;
  hyphens: auto;
}

.content p.text-small-center {
	font-size: 0.85em;
	text-align: center;
}

.content p.text-small-left {
	font-size: 0.85em;
}

.content p.text-nomargin {
	margin-bottom:0;
}

.content .img {
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.content .img-in-text {
    display: block;
    overflow: hidden;
    height: 140px;
    position: relative;
}

.content select {
	margin-bottom: 30px;
}






.catalog-item {
	border-style: solid;
	border-width: 1px;
	border-color: #ddd;
	margin-bottom: 10px;
	max-width: 1600px;
	
	display: flex;
}

.course-block {
	margin-bottom: 80px;
	max-width: 1600px;
	
	display: flex;
}


.catalog-item-img {
	padding: 0;
	margin: 0;
}

.catalog-item-main-info {
	padding: 15px;
}

.lunch-item {
	text-align: left;
	font-size: 1.1em;
	border: 1px solid #ddd;
	box-shadow: 0 2px 2px rgba(0,0,0,.05);
    cursor: pointer;
}

.lunch-item.selected {
	border-color: transparent; 
    box-shadow: 0 0 0 2px #6fac37;

}

.lunch-item p.text-nomargin {
	margin-top: 20px;
}
    

.complex-lunch-item {
	text-align: left;
	font-size: 1.1em;
}

.complex-lunch-item p.text-nomargin {
	margin-top: 20px;
}
	
.lunch-item-bread {
	text-align: left;
	font-size: 0.9em;
}

.temperatureState-input {
	cursor: pointer;
}

.weight-price-section {
	margin-top: 30px;
	margin-left: 15px;
}

.catalog-item-price {
	color: #ee4b28;
	
	position: absolute;
	bottom: 15px;
	right: 20px;
	
	display: flex;
}

.catalog-item-price i {
	margin: auto;
}

.catalog-item-price .btn-add-to-cart {
	margin-left: 20px;
	margin-top: 10px;
}

.menu-item-price {
	color: #ee4b28;
}

.menu-item-price-section {
	position: absolute;
    right: 10px;
    display: flex;
	
	margin-top:-55px;
}

.menu-item-price-section .btn-add-to-cart {
	margin-left: 20px;
	margin-top: 10px;
}

.catalog-item-weight {
	position: absolute;
	bottom: 15px;
}

.catalog-item-name {
	text-align: center;
	font-size: 2.5em;
}

.catalog-item-subTitle {
	text-align: center;
}

.catalog-footer{
	text-align: center;
}

.delivery-description {
	padding-left: 100px;
	padding-right: 100px;
	line-height: 1.5;

}


.back-to-top {
	display: none;
	position: fixed;
    bottom: 18px;
    right: 12px;
	
}

.back-to-top i{
	color: #ddd;
}

.back-to-top a {
	
    background-color: #f8f8f8;
    color: white;
    cursor: pointer;
    padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 13px;
	padding-top: 13px;
	
}


@media(max-width:992px) {
	.content .row{
		margin: 5px;
	}

	.course-block {
		margin-bottom: 50px;
	}
	
	.content .row .lunch-item,
	.content .row .complex-lunch-item{
		margin-bottom: 20px;
		padding-bottom: 20px;
	}
	
	.content .row .delivery-info-block {
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.content .row .total-price-block {
		margin: -25px 5px 35px 10px;
	}
	
	.catalog-item, .course-block {
		display: block;
	}

	
	.content p {
	  font-size: 1em;
	}
	
	.catalog-item-name {
		font-size: 1.5em;
	}
	
	.content h2 {
		font-size: 2em;
	}
	
	.lunch-item p,
	.complex-lunch-item p{
		text-align: left;
		font-size: 1em;
	}
	
	
	.delivery-description {
		padding-left: 50px;
		padding-right: 50px;
		font-size: 1.2em;
		line-height: 1.7;
	}
}

@media(max-width:767px) {
	.menu-item-price-section {
		margin-top:-35px;
	}
	
	.menu-item-weight {
		position: absolute;
		bottom: -20px;
		left: 15px;
	}
	
	.text-nomargin {
		margin-top: 10px;
	}
	
	
	.delivery-description {
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.lunch-item.selected {
		padding-bottom: 35px;
	}
	
}
