
#services .services-item {
    right: 0;
}

#services .services-item .services-link {
    display: block;
    position: relative;
}

#services .services-item .services-link .services-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#services .services-item .services-link .services-hover:hover {
	background: rgba(255, 255, 255, 0.3);
}


#services .services-item .services-link .services-hover {
    opacity: 1;
}

#services .services-item .services-link .services-hover .services-hover-content {
    position: absolute;
    top: 45%;
    width: 100%;
    height: 20px;
    margin-top: -50px;
    text-align: center;
    font-size: 24px;
	font-weight: 700;
    color: #fff;
}


#services .services-item .services-link .services-hover .services-hover-content i {
    margin-top: -12px;
}

#services .services-item .services-link .services-hover .services-hover-content div {
    margin-top: 40px;
}

#services .services-item .services-link .services-hover .services-hover-content h2,
#services .services-item .services-link .services-hover .services-hover-content h3,
#services .services-item .services-link .services-hover .services-hover-content h4 {
    margin: 0;
}

#services .services-item .services-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
}

#services .services-item .services-caption h4 {
    margin: 0;
    text-transform: none;
}

#services .services-item .services-caption p {
    margin: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: italic;
}

#services * {
    z-index: 2;
}

#services .row {
	margin-right: -15px;
    margin-left: -15px;
}

@media(min-width:767px) {
    #services .services-item {
        
    }
}

/* Smartphones (landscape, portrait) ----------- */
@media screen 
and (min-width : 320px) 
and (max-width : 767px) {
	#services .services-item .services-link .services-hover .services-hover-content {
		font-size: 3em;
		font-weight: 400;
    }
	
	
	
	#services .services-item .services-link .services-hover .prod {
		position: absolute;
		top: 20%;
		width: 100%;
		text-align: center;
		color: #fff;
	}
}